venv
.venv
Raw_datasets
.env
__pycache__/
models/__pycache__/
.python-version
models/saved/
synthetic_dataset
.python-version
.pt
.pth
.json
test_scripts
inference_outputs
Dataset Eye/
checkpoints/
inference_outputs/
samples/
*.pth
*.pt
*.png
cluster_labels.json
synthetic_dataset
test_scripts/
