venv
.venv
Raw_datasets
.env
__pycache__/
models/__pycache__/
models/saved/
synthetic_dataset
.python-version
.pt
.pth
.json
test_scripts
inference_outputs
Dataset Eye/
checkpoints/
samples/
*.pth
*.pt
*.png
